{# templates/bundles/NelmioApiDocBundle/SwaggerUi/index.html.twig #}

{#
    To avoid a "reached nested level" error an exclamation mark `!` has to be added
    See https://symfony.com/blog/new-in-symfony-3-4-improved-the-overriding-of-templates
#}
{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        header:before {
            background: #41444e !important;
        }
        #logo {
            left: 280px !important;
            color: white;
        }
        #logo > span {
            font-size: 30px;font-weight: bold;
            font-family: arial, serif;
            padding-left: 10px;
        }
        #api-version {
            background: white;
            color: #41444e;
            font-size: 12px;
            position: absolute;
            top: 4px;
            display: inline-block;
            padding: 2px 4px;
            border-radius: 57px;
        }
        .information-container {
            display: none;
        }
        .scheme-container {
            margin-top: 10px;
        }
        .swagger-ui .btn-html-contents {
            margin-right:  166px;
        }
        .swagger-ui .btn-json-contents {
            margin-right:  100px;
        }
        .swagger-ui .btn-json-contents, .swagger-ui .btn-html-contents, .swagger-ui .download-contents {
            position: absolute;
            bottom: auto;
            right: 10px;
            cursor: pointer;
            background: #49cc90;
            text-align: center;
            padding: 7px 14px;
            border-radius: 2px;
            font-family: sans-serif;
            font-weight: 600;
            color: #fff;
            border: 0;
            width: auto !important;
            top: -35px !important;
            font-size: 14px;
        }
        .swagger-ui .download-contents {
            background: #41444e;
        }
    </style>
{% endblock stylesheets %}

{% block header %}
    <div id="logo">
        <i class="fa fa-3x fa-book"></i>
        <span>
            <span id="api-title"></span>
            <small id="api-version"></small>
        </span>
    </div>
{% endblock header %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>
        const data = JSON.parse(document.getElementById('swagger-data').innerText);
        const swagger = data.swagger;
        const info = data.spec;
        document.getElementById('api-version').innerHTML = data.spec.info.version;
        document.getElementById('api-title').innerHTML = data.spec.info.title;

        $( document ).ready(function() {
            var body = $('body');
            var showJsonElemen= '<div class="btn-json-contents btn-contents-viewer">Json</div>';
            var showHtmlElemen= '<div class="btn-html-contents btn-contents-viewer">Html</div>';
            var highlightCode = "";
            var microlight = "";
            var htmlContent = "";

            var decodeHTML = function (html) {
                var txt = document.createElement('textarea');
                txt.innerHTML = html;
                return txt.value;
            };

            body.delegate( '.opblock-control__btn', "click", function() {
                var self = this;
                setTimeout(function(){
                    highlightCode = $(self).parents('.opblock').find('.highlight-code');
                    microlight = highlightCode.find('.microlight');
                    htmlContent = microlight.html();
                    highlightCode.append(showJsonElemen);
                    highlightCode.append(showHtmlElemen);
                    $('.btn-html-contents').trigger("click");
                }, 500);
            });

            body.delegate( '.btn-html-contents', "click", function() {
                $('.btn-contents-viewer').css("background","#49cc90");
                $(this).css("background","#38946a");
                microlight.html(decodeHTML(htmlContent));
            });

            body.delegate( '.btn-json-contents', "click", function() {
                $('.btn-contents-viewer').css("background","#49cc90");
                $(this).css("background","#38946a");
                microlight.html(htmlContent);
            });

        });
    </script>
    {{ parent() }}
{% endblock javascripts %}



